body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background: #ddd;
    margin: 0px;
    padding: 1em;
}
.section-div {
    background: hsl(0, 0%, 100%)
}
#main {
    margin: 0 auto;
    padding: 2em;
}
#tribute-info {
    margin: .5em 0 0 0;
    padding: 1.5em 0;
}
#image{
    /* border: 2px solid;
    border-color: hsl(0,0%,10%); */
    outline: 2px solid black;
    outline-offset: -2px;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
#blonded_logo {
    display: block;
    max-width: 25%;
    margin: 0 auto;
}
#img-caption p {
    padding: 1em 0.5em 0.25em 0.5em;
    font-size: 1em;
    margin: 0px;
}
#img-caption-source {
    padding: 0;
    font-size: 0.75em;
}
.discography-entry {
    padding: 2em 0 0 0;
}
.discography-entry img {
    width: 80%;
    max-width: 300px;
    max-height: 300px;
}
.discography-entry-title, .discography-entry-date {
    margin: .25em;
}
.discography-entry-title {
    font-size: 1.25em;
}
.img-div {
    width: 100%;
}
#title, #subtitle {
    margin: 0px;
}
ul {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}
.ul-title {
    padding: .5em 0;
    margin: 0;
}
li {
    margin: 10px;
}

/* Media Queries for varying screen sizes */
@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }
}