body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background: #eee;
    margin: 0px;
    padding: 1rem;
}
#main {
    margin: auto;
    padding: 1em;
    background: hsl(0, 0%, 100%);
}
#image{
    border: 2px solid;
    border-color: hsl(0,0%,10%);
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
#blonded_logo {
    display: block;
    max-width: 25%;
    margin: 0 auto;
}
.img-div {
    width: 100%;
}
#img-caption p {
    padding: 1em 0.5em 0.25em 0.5em;
    font-size: 1em;
    margin: 0px;
}
#img-caption-source {
    padding: 0;
    font-size: 0.75em;
}
#tribute-info {
    background-color: hsl(0,0%,99%);
    margin: 1em 0;
    padding: 1.5em 0;
}
#title, #subtitle {
    margin: 0px;
}
ul {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}
li {
    margin: 10px;
}

/* Media Queries for varying screen sizes */
@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }
}